<div class="col-12 col-sm-5 mx-auto mt-5">
  <div class="bg-white rounded p-3">
    <h5 class="text-center mt-1">Crear lista de categorias</h5>
      <%= render "form", bookmark: @bookmark %>
  </div>
</div>
