.home-banner {
  background-image: url('https://img.24reel.com/cdn/medium/movie/57e10c95-0110-4add-b7f4-a6d60f7a0dbe.jpg');
  background-size: cover;
  height: 40vh;
  color: #eee;
  text-align: center;
  align-items: center;
}
