.home-banner {
  background-image: url('cine.jpg');
  background-size: cover;
  height: 60vh;
  color: #eee;
  text-align: center;
  padding-top: 20vh;
}

.home-banner-show{
  background-image: url('cine.jpg');
  background-size: cover;
  height: 40vh;
  color: #eee;
  text-align: center;
  padding-top: 15vh;
}
